.sass-cache/
*.css.map
*.sass.map
*.scss.map
.vs/PacMan/FileContentIndex/41c80650-10b7-49ac-a643-1cb6f5660fad.vsidx
.vs/PacMan/FileContentIndex/50421bbd-22d2-48b4-9a74-d5abeb97d67e.vsidx
.vs/PacMan/FileContentIndex/5a40dfef-9593-4234-b6aa-125cb604350b.vsidx
.vs/PacMan/FileContentIndex/cf983307-c8d8-47f6-bcff-a7a9b9a253da.vsidx
.vs/PacMan/FileContentIndex/6b74b7a2-9654-4968-92c3-eda72bb5d577.vsidx
.vs/PacMan/v17/Browse.VC.db
.vs/PacMan/v17/ipch/AutoPCH/174351b8cb3ba700/MAIN.ipch
.vs/PacMan/v17/ipch/AutoPCH/22c0168b8c30f7fa/BOARD.ipch
.vs/PacMan/v17/ipch/AutoPCH/547a8396c340c97a/MAIN.ipch
.vs/PacMan/v17/ipch/AutoPCH/57e5a0804d44739a/SOURCE.ipch
.vs/PacMan/v17/ipch/AutoPCH/76858c01816117d1/MAIN.ipch
.vs/PacMan/v17/ipch/AutoPCH/93955cb5900a3c3e/PACMAN.ipch
.vs/PacMan/v17/ipch/AutoPCH/b5f7dcf23e2bb7af/DEPENDENCIES.ipch
.vs/PacMan/v17/ipch/AutoPCH/c353ca14799f80f7/BOARDPIECES.ipch
.vs/PacMan/v17/ipch/AutoPCH/f1e9e895ca2aae5f/MAIN.ipch
PacMan.sln
PacMan.vcxproj
PacMan.vcxproj.filters
PacMan.vcxproj.user
x64/Debug/Main.obj
x64/Debug/PacMan.exe
x64/Debug/PacMan.exe.recipe
x64/Debug/PacMan.ilk
x64/Debug/PacMan.log
x64/Debug/PacMan.pdb
x64/Debug/PacMan.tlog/CL.command.1.tlog
x64/Debug/PacMan.tlog/Cl.items.tlog
x64/Debug/PacMan.tlog/CL.read.1.tlog
x64/Debug/PacMan.tlog/CL.write.1.tlog
x64/Debug/PacMan.tlog/link.command.1.tlog
x64/Debug/PacMan.tlog/link.read.1.tlog
x64/Debug/PacMan.tlog/link.write.1.tlog
x64/Debug/PacMan.tlog/PacMan.lastbuildstate
x64/Debug/PacMan.vcxproj.FileListAbsolute.txt
x64/Debug/Source.obj
x64/Debug/vc143.idb
x64/Debug/vc143.pdb
.vs/PacMan/v17/.suo
.vs/PacMan/v17/ipch/AutoPCH/920c4880004c9a4a/BOARDPIECES.ipch
.vs/PacMan/v17/ipch/AutoPCH/90e04535947c56a1/ENTITY.ipch
.vs/PacMan/v17/ipch/AutoPCH/7be7765b24eecdb1/BOARDPIECES.ipch
.vs/PacMan/v17/Browse.VC.opendb
.vs/PacMan/v17/Browse.VC.db-wal
.vs/PacMan/v17/Browse.VC.db-shm
.vs/PacMan/FileContentIndex/8f2093e7-c24a-485a-a51f-aa876b17d13a.vsidx
.vs/PacMan/FileContentIndex/378009e7-d794-461d-975e-d4f20fa0827c.vsidx
.vs/PacMan/FileContentIndex/1d43d7e9-d3fd-463c-9fc8-ed12eca6aa18.vsidx
.vs/PacMan/FileContentIndex/e11ab09d-6aa8-444d-a7af-7ba5879517ad.vsidx
.vs/PacMan/FileContentIndex/dcc00a7d-92df-42d1-8adc-bab138703d6d.vsidx
.vs/PacMan/FileContentIndex/d041820d-2e17-43e8-a777-fbd12676b884.vsidx
.vs/PacMan/FileContentIndex/8d06c5e4-37c3-4b9c-8c16-bfedc910c329.vsidx
.vs/PacMan/FileContentIndex/8739938d-5ef9-46e3-94db-60af60759b0c.vsidx
.vs/PacMan/FileContentIndex/356cb5d1-5a4e-4b03-8897-3f030af656a1.vsidx
.vs/PacMan/FileContentIndex/18dbe1d8-3524-4a33-9da9-90d314acf679.vsidx
.vs/PacMan/FileContentIndex/e11ab09d-6aa8-444d-a7af-7ba5879517ad.vsidx
.vs/PacMan/FileContentIndex/8d06c5e4-37c3-4b9c-8c16-bfedc910c329.vsidx
.vs/PacMan/v17/ipch/AutoPCH/862b5515335ce29c/PELLET.ipch
.vs/PacMan/v17/ipch/AutoPCH/619087ef5a08e641/BOARDPIECES.ipch
.vs/PacMan/FileContentIndex/fe9b9b08-9f7e-4324-8541-1b5b026fb5e1.vsidx
.vs/PacMan/FileContentIndex/7095c19f-b338-42f4-aa02-977353ce0e3d.vsidx
.vs/PacMan/FileContentIndex/3fee1340-20e5-48c7-8b3f-28f4843a0cf7.vsidx
.vs/PacMan/FileContentIndex/02beabda-4af9-4c67-9053-50a37be656c5.vsidx
*.ipch
*.vsidx
x64/Debug/Board.obj
x64/Debug/Ghost.obj
x64/Debug/PacMan.Build.CppClean.log
*.obj
